language: java
sudo: false
install: true

addons:
  sonarcloud:
    organization: "arey-github"
    token:
      secure: "qLEfxPfeZ/Jmsqr35sA9wOz2EzuZ/f2BoaebeAT34xNUGdBXsI0BwKEypJbvwjT4JBHRBE8Tp0B3nOsaThg59F9sXlJMkjffA0eiYmjjZ3EZatG9K83rn7vnWv6bqRm6nfEaDoU09PjVZhRqR8aLi5DdqKzCtLIdDRUK4HZ/+52IuYkgnbA7RfiFcV3659+JJPIDZfgLWyE8e4j1QgRjNshXHMzzWI+miQu9o779xxRISCixli53iF8uyUlbYRCmS6zWE8NiMJWQ0Y8I8Lekv/IXYkatTOMMUzG/A5Nk3ambpff9XKdgHUJCtsgfxmXJttOG1IQBHy0pgep4Q548WhDAyvR/TXU3Xbqepghyop0BdFgQggfudR2iLrPdEVzPpcU0tHONlwGLU0LEVN9IU+k1tAQ5fBRCeCOzQYEviPnOtXivol5tL8IHeH5cX7IUTW22TW8CGLLzZZq8SjiTLjmM4FbM/uusfMZ7dMmOuYh8Yd2Y+ciL6fa+/uEMXRnWRtHWyPIC3yOdOrHPqSC8qqPmViTQSVaQVAojl0LAzTWOdKzF33Nf//r/ucZL+RSY8nsoJgmooIYhqon/6KuT2x3UChF6OPPImLADDAf8A/BMX/DmZFwwJJVyTkBxD+6/c0ryhk6PgzGJLB72HkUhAPhS5kjPvQ9M5AF7XfuV8KY="


jdk:
  - oraclejdk8

script:
  # JaCoCo is used to have code coverage, the agent has to be activated
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent org.jacoco:jacoco-maven-plugin:report package sonar:sonar -X

# cache:
    #   directories:
    # - '$HOME/.m2/repository'
    # - '$HOME/.sonar/cache'
